Thumbs.db
.vs/
vc_mswud/
vc_mswu/
x64/
obj/
bin/
*.pdb
*.obj
*.user
*.suo
*.vcxproj.filters
.dep/
*.eep
*.lss
*.sym
*.map
*.elf
*.hex
UpgradeLog.htm
*.pdb
*.obj
*.user
*.suo
*.vcxproj.filters
ebackup.sta
default.tag
