Thumbs.db
*.bak
whoops/

# Microsoft Visual Studio 
.vs/
vc_mswud/
vc_mswu/
x64/
obj/
bin/
*.pdb
*.obj
*.user
*.suo
UpgradeLog.htm

# GCC
.dep/
*.eep
*.lss
*.sym
*.map
*.elf
*.hex

# Epsilon
ebackup.sta
default.tag

/mathplot/mathplot.h_save.h
/mathplot/mathplot_refactorTypes.cpp
/mathplot/mathplot_refactorTypes.h
/Doc/index.html - Shortcut.lnk
