Thumbs.db
*.bak
whoops/
tmp/
backups/

# Microsoft Visual Studio 
.vs/
vc_mswud/
vc_mswu/
x64/
obj/
bin/
*.pdb
*.obj
*.user
*.suo
UpgradeLog.htm

# GCC
.dep/
*.eep
*.lss
*.sym
*.map
*.elf
*.hex

# Epsilon
ebackup.sta
default.tag

# DOxygen generated output etc.
docs_output

# misc obsolete junk
mathplot/mathplot.h_save.h
mathplot/mathplot_refactorTypes.cpp
mathplot/mathplot_refactorTypes.h
